#container{
    height: 1260px;
    background-image: url("../images/mosaic.png");
}
nav {
    margin-bottom: 50px;
    background-color: rgb(119, 117, 117);
    height: 53px;
}
#about{
    width: 800px;
    height: 1000px;
    margin-top: 10px; 
    position: relative;
    left: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card{
    color: whitesmoke;
    /* width: 800px;
    height: 800px; */
    margin-top: 10px; 
    /* position: relative; */
    /* left: 250px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#projects{
    /* border: solid; */
    width: 800px;
    height: 800px;
    margin-top: 10px; 
    position: relative;
    left: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about span {
    color: rgb(253, 22, 22);  
}
#about img{
    width: 444px;
    height: 500px;
    
}

.carousel{
    color: black;
    }
.carousel img{
    width: 300px;
    height: 250px;
}
